@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);



:root {
    --ff-primary:  'Rubik', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #DC143C;
    --off-white: #818181;
    --L-orange: #FF8C00;


    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.45),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);


    


}


html {
    line-height: 1.15;
    scroll-behavior: smooth;
}

body{
    touch-action: manipulation;
    margin: 0;
}


footer,
header,
section {
    display: block
}




h1,h2,h3 {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: #333
}

img {
    max-width: 100%;
    display: auto;
}
strong { 
            font-weight: var(--fw-bold); 

}
p {
    color: black;
  -webkit-background-clip: text;
}

h1 {
    line-height: 1.1;
    margin: 0;
    padding-top:0;
    line-height: 1.25;
    color: #333;
    font-size: 2.5rem;
}

h2{
    color: black;
    font-size: 2rem
}


h3 {
    font-size: 1rem;
    font-weight: 10;
}

h4{
    font-size: 20px;
}



ol,ul {
    padding-left: 40px
}


p,ul {
    margin: 1em 0
}

a img {
    border: 0
}


.header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: var(--ff-primary);
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.header .site-title {
    font-size: 35px;
    display: block;
    line-height: 1;
    color: #fff;
}

@media only screen and (min-width:600px) {
    .header .site-title {
        margin: 0;
        font-size: 100px
    }
}

.header .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 20px
}

@media only screen and (min-width:600px) {
    .header .site-description {
        font-size: 40px
    }
}

.header-links {
    margin: 10px
}

.header-links .link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 10px
}

.header-links .link:hover{
    color: #4b5664;
}

@media only screen and (min-width:600px) {
    .header-links .link {
        font-size: 16px
    }
}

.header-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5em;
}

.down,
.header-icons .icon {
    color: #fff;
    text-align: center
}

.header-icons .icon {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .7s;
    width: 20px;
    font-size: 20px;
    margin: 5px
}

.header-icons .icon:active,
.header-icons .icon:hover {
    color: #7b4194;
    background: #fff;
    transform: scale(1.2);
}

@media only screen and (min-width:600px) {
    .header-icons .icon {
        width: 35px;
        height: 35px;
        font-size: 35px
    }
}

.down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    cursor: pointer
}

.down .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite
}

.down .icon:active,
.down .icon:hover,
.footer a:active,
.footer a:hover {
    color: #4b5664
}

#my_skills {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    margin-top: 10em;
}




.tech {
    margin: 10px
}

.user {
    text-align: center;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: row;
    flex-wrap: wrap;
}

.user p {
    font-size: 16px;
}

@media only screen and (min-width:600px) {
    .user {
        font-size: 75px
    }
}



.user-details {
    text-align: center;
    margin: 10em auto
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}



.user-projects {
    margin: 20px auto;
    margin-top: 5em;
}

.user-projects img {
    max-width: 100%;
    height: auto;
    border-radius: 5px
}

.user-projects h5 {
    margin: 0
}

.user-projects li {
    color: #1488CC;
    font-size: 1.1rem
}

.user-projects p {
    margin-right: 5px
}

@media only screen and (min-width:600px) {
    .contents {
        margin-left: 0;
        width: 48%
    }

    .contents,
    .contents-right {
        margin-top: -5%;
    }

    .contents-right,
    .images-right {
        float: right;
        width: 45%;

    }
    .images-right img {
        float: right
    }

    .images-left {
        float: left;
        width: 45%
    }

    .images-left img {
        float: left;
    }
}


.project-link {
    display: inline-block;
    margin: 10px 0;
    padding: 5px;
    color: var(--L-orange) ;
    background-color: transparent;
    border: 1px solid var(--L-orange) ;
    border-radius: 10px;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out
}

.project-link:active,
.project-link:hover {
    background-color: var(--L-orange);
    border-color: #818181;
    color: #fff;
    transition: color .3s ease-in, background-color .3s ease-in, border-color .3s ease-in
}

.footer {
    background: var(--clr-accent);
    background: -webkit-linear-gradient(to right, var(--L-orange) 0, var(--clr-accent) 33%, #66a5ad 50%, #7B68EE 66%, #DB7093  100%);
    background: linear-gradient(to right, var(--L-orange) 0, var(--clr-accent) 33%, #66a5ad 50%, #7B68EE 66%, #DB7093  100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 0;
    margin-top: 230px;
    text-align: center;
    color: #fff
}

.footer .love {
    color: red
}

.footer a {
    text-decoration: none;
    margin: 0;
    color: #fff
}




/* Dark Mode  */  

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    background: -webkit-linear-gradient(to right, var(--L-orange), var(--clr-accent));
    background: linear-gradient(to right, var(--L-orange), var(--clr-accent));
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-bottom: 10em;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #DAA520;
    background: -webkit-linear-gradient(to right, var(--clr-accent), #DAA520);
    background: linear-gradient(to right, var(--clr-accent), #DAA520);
}


.dark-mode {
    background-color: #1f1f1f;
    color: var(--clr-light);
}
.dark-mode h1{
    color: var(--off-white);
}
.dark-mode h2{
        color: var(--clr-light);
    background: -webkit-linear-gradient(var(--L-orange),var(--clr-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dark-mode h3{
        color: var(--off-white);
}
.dark-mode h4 {
            color: var(--clr-light);
    background: -webkit-linear-gradient(var(--L-orange),var(--clr-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/*  Intro section  */


.intro {
    position: relative;
    padding: 5em 0 5em 5em;
}

.intro__img {
    box-shadow: var(--bs);
    transition: transform 2s;
}


.intro__img:hover{
    transform: translateX(-20px) scale(.8) rotate(30deg);
}


.section__title {
    margin-bottom: .2em;
}

.section__title--intro {
    font-weight: 300;
}
.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: 1.25rem;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    background: -webkit-linear-gradient(to right, var(--L-orange), var(--clr-accent));
    background: linear-gradient(to right, var(--L-orange), var(--clr-accent));
     padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: lem;
}


.section__subtitle--intro {
    display: inline-block;
}

@media only screen and (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    


    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: -2;
        text-align: right;
        position: relative;
        left: -1.5em;
        
    }

}

.story-head{
    font-size: 60px;    
    text-align: center;
}

.story{
    text-align: center;
    word-wrap: break-word;
    font-size: 25px;
    background-image: url("../img/jpg/textb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 150%;
    margin: auto;
    width: 50%;

}






    /*  My services section  */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/jpg/robot-hand-con.jpg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 90%;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
    margin-top: 10em;
    height: 100%;
}

.textWhite{
    color: var(--clr-light);
    background: -webkit-linear-gradient(var(--off-white),var(--clr-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__title--services {
    background: -webkit-linear-gradient( var(--L-orange),var(--clr-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 4.5rem;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 4em;
}

@media only screen and (min-width: 600px) {
    .services {
        display: flex;
        
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}

/*  about me section  */



.about-me__img {
    box-shadow: var(--bs);
    transition: transform 2s;
}

.about-me__img:hover{
    transform: translateX(20px) scale(1.2) rotate(-30deg);
}

.about-me{
    margin: 0 auto;
    position: relative;
}

@media only screen and  (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 5em;
        max-width: 50%;
        margin-top: 10em;
    }

    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);
        /*padding-left: 1em;
        padding-right: calc(200px + 10em);*/
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}



a { 
    color: inherit;
    text-decoration: none;
}


.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .5;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}
h6{
    font-size: 15px;
}





.skills_head{
    text-align: center;
    background: -webkit-linear-gradient(var(--L-orange),var(--clr-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 5rem;
    font-weight: var(--fw-bold);
}



.singular--{
    width: 50%;
    transform: translate(50%, 0%);
    margin-top: 50px;
}
.flutter-2{
    text-align: center;
    font-size: 60px;
    display: flex;
    margin: 10px;

    justify-content: center;
}
.flutter {
    text-align: center;
    font-size: 60px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.flutter img{
    width: 75px;
    height: 75px;    
    align-items: center;align-self: center;align-content: center;

}

.flutter p {
    font-size: 16px
}
.flutter h2 {
    text-align: center;
}
.singular-- h2{
    text-align: center;
    margin-bottom: .5em;
    font-size: 2.5em;
}

@media only screen and (min-width:600px) {
    .flutter {
        flex-wrap: nowrap;
        font-size: 75px
    }
}

div .tech{
    width: 50%;
}


div .flutter{
    justify-content: space-evenly;
}


.flutter strong{
    background: -webkit-linear-gradient( var(--L-orange) 0,var(--clr-accent) 33%, #D2B48C  50%,  #800000  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--fw-bold);
    font-size: 20px;
}



/*Projects*/
.user-details h1{
    text-align: center;
    background: -webkit-linear-gradient( var(--L-orange),var(--clr-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 5rem;
    font-weight: var(--fw-bold);
}




 



 /*Simple css to style it like a toggle switch*/

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 999;
}

.theme-switch {
  display: block;
  height: 34px;  
  width: 60px;
  
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--off-white);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .5s;
}

.slider:before {
  background-color: var(--L-orange);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--off-white);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* mail popUp */ 
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 475px;
  background-color: #DB7093;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -80px;
  opacity: 70%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -162px;
  border-width: 5px;
  border-style: solid;
  border-color: #DB7093 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 0.70;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:0.70 ;}
}


/*body {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.2' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(64 1000 750) scale(5) translate(-800 -600)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(64 1000 750) scale(5) translate(-800 -600)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(64 1000 750) scale(5) translate(-800 -600)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(64 1000 750) scale(5) translate(-800 -600)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(64 1000 750) scale(5) translate(-800 -600)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(64 1000 750) scale(5) translate(-800 -600)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(64 1000 750) scale(5) translate(-800 -600)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(64 1000 750) scale(5) translate(-800 -600)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

}
*/




/* sounds buttons styling */
.plugin-content{
    display: none;
    position: relative;
    direction: rtl;
    z-index: 90;
}


    .sound-items{
    display: inline-grid;
    place-items:  center;
    position: relative;
}

    .plugin-content audio{
        display: none;
    }

    .plugin-content button{
            background-color: transparent;
            cursor: pointer;
            border-radius: 50%;
            border: none;
            width: 50px;
            height:50px;
            transition: transform 1s;
    }
    .plugin-content button:hover{
        background-color: grey;
        transform: rotate(360deg) scale(1.5);
    }

   
.plugin-content input[type=range]{
    cursor: e-resize;
    margin: 10px 0;
    width: 100%;   
}


.v-slider{
    opacity: 0;
}



/* custom aera for coffe */

.show{
    display: grid;
    position: sticky;
    top: 0;
}
.coffeBtn{
    background-color: transparent;
    border-radius: 20px;
    float: right;
    position: sticky;
    top: 0;
    z-index: 90;
}
@media only screen and (min-width:600px) {
    .coffeBtn{
    background-color: transparent;
    border-radius: 20px;
    float: right;
    position: sticky;
    top: 0;
    z-index: 90;
}
}



/* hearts styling */
.hearts {
 width: 5%;
 min-width: 100px;
 height: 25%;
 min-height: 250px;
 position: absolute;
 z-index: 1;
 margin-left: 50%;
}

.heart {
 position: absolute;
 height: 20%;
 min-height: 25px;
 width: 20%;
 min-width: 25px;
 background-color: red;
 -webkit-mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
         mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
 -webkit-mask-repeat: no-repeat;
         mask-repeat: no-repeat;
 -webkit-mask-position: bottom;
         mask-position: bottom;
  opacity: 0;
  animation: floating-heart 8s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@keyframes floating-heart {
  0% {
    opacity: 0;
    bottom: 0%;
    left: 0%;
  }
  10% {
    opacity: 1;
    bottom: 20%;
    left: 70%;
  }
  20% {
    bottom: 40%;
    left: 10%;
  }
  30% {
    bottom: 60%;
    left: 50%;
  }
  40% {
    opacity: 1;
    bottom: 80%;
    left: 5%;
  }
  48% {
    opacity: 0;
    bottom: 100%;
    left: 60%;
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: 90%;
  }
}

.heart:nth-child(1) {  
  animation-delay: .5s;
}

.heart:nth-child(2) {
  animation-delay: 1.5s;
}

.heart:nth-child(3) {
  animation-delay: 2.5s;
}

.heart:nth-child(4) {
  animation-delay: 3.5s;
}

.hearts-ff{
    display: none;
}




/* image popup */
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin-left: 10%;
    margin-right: 10%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



        /* text alignment for smaller screens */
@media only screen and (max-width: 550px) {
    .singular-- h2{
        font-size: 20px;
    }
     h3 {
        font-size: 15px;
    }

    .user-details h1 {
        font-size: 25px;
    }
    .user-details h2 {
        font-size: 18px;
    }
    .tech h2{
        font-size: 20px;
    }
}


.F-parent{
    display: flex;
    justify-content: center;
    -webkit-text-fill-color: var(--off-white);
}
.F-child{
    position: relative;
}




/*circlar progress indicator*/ 
@keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 300px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

